block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title} | HomePage
    link(rel="icon" href="/images/icon.png")
    link(rel="stylesheet" href="/style/style.css")
    script(src='https://kit.fontawesome.com/a076d05399.js', type='text/javascript')

  body
    div#root
      block layout-content
      input#active(type='checkbox')
      label.menu-btn(for='active')
        i.fas.fa-bars
      .wrapper
        ul
          li
            a(href='/') Home
          li
            a(href='/edit') Start Editing
          li
            a(href='/about') About
      .content
        .title
          Omniboard OmniBoard Editor