doctype html
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  title #{title} | Edit
  link(rel="stylesheet" href="/style/edit.css")
  script(type='text/javascript' src='/js/edit/rules.js')
  
body
  #main 
    <form><label for="name"> Choose Element :</label><br>
    <label for="type"> type :</label><br>
    <input type="text" name="search" placeholder="Enter the type of the rule"/><br>
    <label for="name"> name :</label><br>
    <input type="text" name="search" placeholder="Enter the name of the rule"/><br>
    <label for="name"> Choose Type for the loop :</label><br>
    <button for="name" onclick='addCondition()'> new conditions </label></button>
    <button for="name" onclick='addAction()'> new actions </label></button><br>
    //- <label for="name"> name :</label><br>
    //- <select id="name" name="name">script:element()</select><br>
    //- <label for="name"> input :</label><br>
    //- <input type="text" name="search"/><br>
    //- <label for="name"> operation :</label><br>
    //- <select id="loop" name="loop">
    //-     <option value=1>less_than</option>
    //-     <option value=2 >equals </option>
    //-     <option value=3 >not_equals </option>
    //-     <option value=4>greater_than</option></select><br>
    //- <label for="name"> value :</label><br>
    //- <input type="text" name="search"/><br>