doctype html
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  title #{title} | Edit
  link(rel="stylesheet" href="/style/edit.css")
  link(rel="stylesheet" href="/style/rule.css")
  link(rel="icon" href="/images/icon.png")
  script(type='text/javascript' src='/js/edit/rules.js')
  
body
  //- script: 
    //- $(document).ready(function() {
    //-   $("#button").click(function(){
    //-       $("#div1").load("demo_test.txt");
    //-   });
    //- });
  #rule 
    h1 Rule 
     form
      input.elem(type='button' value='new Rule' onclick='addRule(); addRuleListener()')
      br
      //- label(for='type')  type :
      //- br
      //- input(type='text' name='search' placeholder='Enter the type of the rule')
      //- br
      //- label(for='name')  name :
      //- br
      //- input(type='text' name='search' placeholder='Enter the name of the rule')
      //- br
      //- label(for='name')  Choose Type for the loop :
      //- br
      //- input.elem(type='button' value='new conditions' onclick='addCondition(); addListener()')
      //- input.elem(type='button' value='new actions' onclick='addAction(); addListener()')
