doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title #{title} | Rules
        link(rel="stylesheet" href="/rules.css")
        script(src='https://kit.fontawesome.com/a076d05399.js', type='text/javascript')
        script(src='/rules.js', type='test/javascript')

    body
        body
        div#root
        input#active(type='checkbox')
        label.menu-btn(for='active')
            i.fas.fa-bars
        .wrapper
            ul
                li
                    a(href='/') Home
                li
                    a(href='#') Start Editing
                li
                    a(href='/about') About the Devs
                li
                    a(href="/rules") Rules
            .wrapper
            .header
                h1.header__title All about Pinballing
                h2.header__subtitle OmniBoard Editor
            .cards
                .card.is-collapsed(class='[ ]')
                .card__inner.js-expander(class='[ ]')
                    span The components
                    i.fa.fa-folder-o
                .card__expander
                    i.fa.fa-close.js-collapser(class='[ ]')
                    ul
                    li
                        | The Playfield
                    li
                        | The Plunger
                    li
                        | The Flippers
                    li
                        | The Bumpers
                    li
                        | The Kickers and Slingshots
                    li
                        | Targets
                    li
                        | Holes and Saucers
                    li
                        | Spinners and rollovers
                    li
                        | Switches gates and stoppers
                    li
                        | Ramps
                    li
                        | Backglass
                .card.is-collapsed(class='[ ]')
                .card__inner.js-expander(class='[ ]')
                    span The history
                    i.fa.fa-folder-o
                .card__expander
                    i.fa.fa-close.js-collapser(class='[ ]')
                    center
                    | The origins of pinball are intertwined with the history of many other games. Games played outdoors by rolling balls or stones on a grass course, such as bocce or bowls, eventually evolved into various local ground billiards games played by hitting the balls with sticks and propelling them at targets, often around obstacles. Croquet, golf and pall-mall eventually derived from ground billiards variants.
                .card.is-collapsed(class='[ ]')
                .card__inner.js-expander(class='[ ]')
                    span Features : the ball
                    i.fa.fa-folder-o
                .card__expander
                    i.fa.fa-close.js-collapser(class='[ ]')
                    ul
                    li
                        | Ball Lock : Each time a ball goes into a specific hole or target, it is locked, and a new ball appears at the plunger
                    li
                        | Multiball :  This occurs when there is more than one ball in play at a time and usually includes some kind of jackpot scoring.
                    li
                        | Extra-Ball : After earning the bonus, if the player dies he retrieves another ball instantly.
                    li
                        | Kickback : When a ball goes into one of the outlanes the ball instead of draining goes into a kicker that will launch the ball back into play.
                .card.is-collapsed(class='[ ]')
                .card__inner.js-expander(class='[ ]')
                    span Features : the score
                    i.fa.fa-folder-o
                .card__expander
                    i.fa.fa-close.js-collapser(class='[ ]')
                    ul
                    li
                        | Jackpot :  Some targets on the playfield increase the scoring value of something else, which could be as simple as hitting a ramp, or a complicated sequence of targets.
                .card.is-collapsed(class='[ ]')
                .card__inner.js-expander(class='[ ]')
                    span Features : the map
                    i.fa.fa-folder-o
                .card__expander
                    i.fa.fa-close.js-collapser(class='[ ]')
                    ul
                    li
                        | Slam Tilt : There are special tilt switches placed on the underside of the playfield, on the coin door, and (on electromechanical games) in the lower cabinet and upper cabinet, designed to prevent cheating. If a player lifts and drops, pounds, or kicks the machine and activates any slam tilt, the entire game ends immediately for all players and may go into a reset/reboot mode.
                .card.is-collapsed(class='[ ]')
                .card__inner.js-expander(class='[ ]')
                    span Scoring points
                    i.fa.fa-folder-o
                .card__expander
                    i.fa.fa-close.js-collapser(class='[ ]')
                    |         Expander
                .card.is-collapsed(class='[ ]')
                .card__inner.js-expander(class='[ ]')
                    span Card
                    i.fa.fa-folder-o
                .card__expander
                    i.fa.fa-close.js-collapser(class='[ ]')
                    |         Expander
                .card.is-collapsed(class='[ ]')
                .card__inner.js-expander(class='[ ]')
                    span Playing Techniques
                    i.fa.fa-folder-o
                .card__expander
                    i.fa.fa-close.js-collapser(class='[ ]')
                    |         Expander
                .card.is-collapsed(class='[ ]')
                .card__inner.js-expander(class='[ ]')
                    span Competitions
                    i.fa.fa-folder-o
                .card__expander
                    i.fa.fa-close.js-collapser(class='[ ]')
                    |         Expander
